src/main/mule/testing-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e112dae1-eb44-4a68-a6ca-0a2dd9731209" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testing-cicdFlow" doc:id="a05ef1bf-da9c-4955-9321-4b801a948333" >
		<http:listener doc:name="Listener" doc:id="cd33a191-488e-42d5-9e1a-d5e4302d47e5" config-ref="HTTP_Listener_config" path="cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="7ef593bb-c223-43e5-9704-791b91ee384f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"yay....it is working"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="3022cd42-b20c-40d8-8c0b-e17294f213b3" message='#[payload]'/>
	</flow>
</mule>
